/* =======******====== new arriable css start ======******====== */

#new_arriable_part {
    padding: 50px 0;

    .container {

        .new_row {
            margin-top: 40px;
        }

        .head {
            h3 {
                color: #F67280;
                font-size: 30px;
                font-weight: 700;
                font-family: 'Playfair Display', serif;
                position: relative;
            }
        }

        .new_arriable_image {
            position: relative;
            margin: 0 auto;

            .image_icon {
                position: absolute;
                right: 9px;
                top: 5px;
                display: none;

                ul {
                    li {
                        a {
                            padding: 5px 11px;
                            background: #F67280;
                            color: #fff;
                            border-radius: 50%;
                            margin-top: 12px;
                            transition: all linear .3s;

                            i {
                                font-size: 13px;


                            }

                            &:hover {
                                color: #F67280;
                                background: #0b001b;
                            }
                        }
                    }
                }
            }

            &:hover {

                transform: scale(1.1);

                .image_icon {
                    display: block;
                }

            }




            .image_info {
                h6 {
                    color: #666;
                    font-size: 14px;
                    font-weight: 400;
                    font-family: 'Playfair Display', serif;
                    margin-top: 5px;
                }

                ul {
                    display: flex;
                    justify-content: center;

                    li {
                        i {
                            font-size: 13px;
                            color: #F67280;
                        }
                    }
                }

                h5 {
                    color: #666;
                    font-size: 18px;
                    font-weight: 500;
                    font-family: 'Playfair Display', serif;
                    margin-top: 2px;
                }
            }

            .color {
                ul {
                    display: flex;
                    justify-content: center;
                    margin: 0 3px;

                    li {
                        width: 10px;
                        height: 10px;
                        background: red;
                        border-radius: 2px;
                        margin: 5px 3px;
                    }

                    .sec {
                        width: 10px;
                        height: 10px;
                        background: black;
                        border-radius: 2px;
                    }

                    .thi {
                        width: 10px;
                        height: 10px;
                        background: rgb(22, 22, 90);
                        border-radius: 2px;
                    }

                    .fo {
                        width: 10px;
                        height: 10px;
                        background: green;
                        border-radius: 2px;
                    }
                }
            }
        }

        .nav {
            justify-content: end;
            margin-top: 20px;

            .pagination {
                li {
                    a {
                        color: #F67280;

                    }
                }
            }
        }
    }
}


/* =======******====== new arriable css start ======******====== */